<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
          xmlns:dist="http://schemas.android.com/apk/distribution">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:targetApi="31">
    </application>

    <dist:module
            dist:instant="false"
            dist:title="Dynamic title">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

</manifest>